body, html {
	height: 100%;
}

body {
  margin:0;
  padding:0;
  border: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
}

a {
	text-decoration: none;
	color: #337ab7;
}

a:hover {
	color: #23527c;
}

/*Set up top nav*/
header {
	background: #383E4C;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

nav {
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
	padding-top:5px;
	padding-bottom: 8px;
	margin: 0;
}
nav a {
	font-size: 20px;
	border: 1px solid #646d7c;
	color: white;
	text-decoration: none;
	margin: 5px 10px;
	padding: 12px 25px;
    -webkit-transition: background-color .3s; /* Safari */
    transition: background-color .3s;
}

nav a:hover, a:active {
	background-color: #49505F;
}

/*Set up parallax effect*/
.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax .text {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

.beauty {
	background-image: url("../img/bg-1.jpg");
	height: 97%;
	text-align: center;
    position: relative;
}

.beauty h1 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 70px;
	text-shadow: 2px 2px 4px #000000;
	margin: 0;
}

.beauty h2 {
	font-weight: normal;
	margin: 0;
}

.services {
	background-image: url("../img/bg-2.jpg");
	height: 50%;
	text-align: center;
    position: relative;
}

.services h2 {
	font-weight: normal;
	font-size: 36px;
	text-shadow:2px 2px 4px #aaa;
	margin: 0;
	margin-bottom: 20px;
}

.services p {
	font-size: 18px;
	line-height: 1.6em;
	width: 50%;
	margin: auto;
}

.contact {
	background-image: url("../img/bg-3.jpg");
	height: 100%;
	padding-top: 80px;
	padding-bottom: 60px;
	text-align: center;
    position: relative;
}

.contact h2 {
	font-weight: normal;
	font-size: 36px;
	text-shadow: 2px 2px 4px #000000;
	margin: 0;
	color: #ffffff;
}

.contact .text {
	width: 50%;
	color: #000000;
}

.contact p {
	background-color: rgba(242,242,242,0.4);
	padding: 30px;
	border-radius: 5px;
	margin: 30px 0 20px 0;
}

form {
	display: flex;
	flex-flow: row;
}

form div {
	flex: 1;
}

input, textarea {
	background-color: rgba(242,242,242,0.4);
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	border: none;
	color: #000000;
	box-sizing: border-box;
	margin: 20px 0 0 0;
}

textarea {
	height: 100%;
}

.inputs {
	margin: 0 30px 0 0 ;
}

.area {
	float:left;
}

::placeholder {
	color: #000000;
}

/*Set up thumbnails / columns */
.thumbnails {
	width: 87%;
	margin: 30px auto;
	display: flex;
	flex-flow: row wrap;
	/*align-content: center;*/
}

.thumbnails .item {
	margin: 15px;
	background-color: #F2F2F2;
	color: #333333;
	flex: 0 2 auto;
}

.item h2 {
	color: #666666;
	font-size: 20px;
	font-weight: 700;
}

.item p {
	font-size: 14px;
	line-height: 1.6em;
}

.thumbnails h2, p, .button {
	padding: 0 10px;
	margin: 12px;
}

.three .item {
	max-width: 360px;
}

/*Button set up*/
.button {
	background-color: #ffffff;
	width: 150px;
	height: 50px;
	margin: 30px auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	-webkit-transition: background-color .3s; /* Safari */
    transition: background-color .3s;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.button a {
	color: #666666;
}

/*Set up 3 column details*/
.three .button {
	border: none;
	border-radius: 5px;
}

.three .button a {
	color: #ffffff;
}

.green h2 {
	color: #178A27;
}

.blue h2 {
	color: #1686C1;
}

.red h2 {
	color: #852406;
}

.green .button {
	background-color: #178A27;
}

.green .button:hover {
	background-color: #449D44;
}

.blue .button {
	background-color: #1686C1;
}

.blue .button:hover {
	background-color: #31B0D5;
}

.red .button {
	background-color: #852406;
}

.red .button:hover {
	background-color: #C9302C;
}

/*Two Column set up*/
.two {
	max-width: 555px;
	flex: 0 2 auto;
}
.two p {
	padding: 0 17px;
}
.two h2 {
	text-align: center;
	margin-bottom: 35px;
}

/*Four Column set up*/
.four {
	max-width: 260px;
	flex: 0 2 auto;
}

.four h2 {
	text-align: center;
}

.four .button {
	width: 100px;
	margin: 20px auto;
}

.one .button {
	margin: 20px;
}